#node-article-55 .field-name-field-image {display: none;}
.node-article .field-name-field-image {text-align: center;}
	
/* This file will hold the main styles for your website. */

/* @group Authorship Block */
#block-views-author-block div.block-title h2.block-title div.text {
	color: rgba(0, 83, 6, 0.74);
	font-size: medium;
	border-bottom: 1px solid rgba(0, 83, 6, 0.74);
}

#block-views-author-block div.author img {float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#block-views-author-block div.view-content {
	background-color: rgba(77, 99, 63, 0.64);
	padding: 10px; border-radius: 10px; min-height: 100px;
	-moz-box-shadow: inset 1px 1px 3px #e6e4ce;
	-webkit-box-shadow: inset 1px 1px 3px #e6e4ce;
	box-shadow: inset 1px 1px 3px #e6e4ce;
}

#block-views-author-block .views-field-name {
	color: #c0db66;
	font-size: medium;
	font-weight: bold;
	font-style: italic;
}

/* @end */

#block-views-services-block-2 table {
	border: none;
}

#block-views-services-block-2 .views-field-title {
	text-align: center;background-color: #005406; border-radius:10px; padding: 7px;   margin: 7px; width: 100%;
}

#block-views-services-block-2 .views-row-odd {
}
#block-views-services-block-2 .views-row-even {
	
}

#block-views-services-block-2 .views-field-title a {
	color: white;text-decoration: none;
	font-size: 1.25em;
}

#node-page-2 img.right {
	max-width: 350px; height: auto; float: right;
}
body {
background: #3f4f31; /* Old browsers */
background: -moz-linear-gradient(top,  #3f4f31 0%, #729062 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4f31), color-stop(100%,#729062)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3f4f31 0%,#729062 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3f4f31 0%,#729062 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3f4f31 0%,#729062 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3f4f31 0%,#729062 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4f31', endColorstr='#729062',GradientType=0 );
}

div.text {
	color: #c6dab4;
	padding: 4px;
}

/* Links */
a, a:link {
  text-decoration: underline;
}
a, a:link, a:visited, a:active {
  	color: #216532;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #005406;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
	font-family: "Josefin Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
}

#block-webform-client-block-21 div.block-title h2.block-title {
	
}

#block-block-12 div.content p a img {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

body > #page h1#page-title, #node-page-38 div.field-item h2 {
  color: #005406;
	border-bottom: thin solid #005406;
	padding-bottom: 5px;
}

#block-block-5 div.block-title h2.block-title div.text {
	color: #005406;
	text-align: left;
	border-bottom: thin solid #005406;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {background-color: #005406;}

#block-media-gallery-41 div.block-title h2.block-title div.text {
	background-color: #005406;
	color: white;
}



.boxes-box-controls ul {
  margin: 0;
}

/* Content */

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#block-block-2 div.content div div {
	color: white;
}

div.signature {
	color: #003303;
	font: 3em 'Great Vibes', cursive;
	margin-top: 30px;
}

img.sidebar {
	width: 100%;
}

div.plea {
	line-height: 1em;
	color: #005406;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}

div.quality {
	font-size: 1.5em;
}

div.byline {
	font-weight: bold;
	font-style: italic;
	display: none;
}

#block-system-main div.view-link div.view-content h3 {
	border-bottom: thin solid #005406;
	font-weight: bold;
}
#node-page-38 div.field-item h3 {
	color: #c6dab4;
	font-weight: bold;
	background-color: #528656;
	padding: 5px;
}

div.centered {
	text-align: center;
}

div.view-frontpage div.centered h2 {
	text-align: center;
}

#region-header-first {
	margin: 0;
	width: 100%;
}

#block-webform-client-block-21 {
	border: thin solid silver;
}


#block-webform-client-block-21 div.block-title h2.block-title {
	margin-top: 0;
	color: white;
}

div.warranty div.block-warranty {
	font-weight: bold;
}
div.warranty p {
	margin-bottom: 2px;
}
div.warranty div.simple {
	font-style: italic;
	font-weight: bold;
	margin-bottom: 5px;
}

#block-webform-client-block-21 div.block-title h2.block-title div.text {
	color: white;
}

#webform-client-form-21 {
	padding: 5px;
}

div.ten-year-highlight {
	border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	padding: 9px;
	background-color: #005406;
	color: white;
	font-weight: bold;
}

span.qtip-link {
	color: green;
	font-weight: normal;
	font-style: normal;
}

.qtip-additional-element {
	display: none;
}


/* @group Services Block */

#block-views-services-block-1 {
	background-color: white;
}

#block-views-services-block-1 div.content {
		padding: 10px;
}

#block-views-services-block-1 li.views-row div.views-field-title a {
	color: #005406;
}



/* @end */

/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );

}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */

img.right_border {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	border: medium solid white;
	max-width: 300px;
	height: auto;
}

.widgets-style-horizontal {
	margin-right: 7px;
}

#block-views-author-block .views-field-field-bio {
	color: white;
	line-height: 1.3em;
}

